* {
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
}

.form_design {
    margin: 5em 20em 5em 20em;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px ridge rgb(219, 154, 32);
    background-color: white;
    border-radius: .5em;
    font-size: 20px;
}

body {
    background: linear-gradient(90deg, rgb(235, 163, 163), rgb(156, 190, 223));
}

.form_design label,
select {
    padding: .5em;
    margin: .5em;
    outline: none;
}

.form_design input {
    padding: .5em;
    margin: .2em 1em;
    border-radius: .2em;
    color: white;
    background-color: rgb(128, 128, 128);
    border: none;
}

.form_design input:hover {
    background-color: green;
}

.form_design input:active {
    background-color: tomato;
}

@media screen and (max-width: 700px) {
    .form_design {
        margin: 5em 5em 2em 5em;
        padding: .5em;
        border-radius: .1em;
        font-size: 10px;

    }
    body {
        background: linear-gradient(90deg, rgb(163, 235, 205), rgb(223, 156, 201));
    }

    .form_design label, select {
        padding: .1em;
        margin: .1em;
    }
    .form_design input {
        padding: .1em;
        margin: .05em .25em;
        border-radius: .25em;
    }

}